<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.duckduckgo.app.browser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:name="com.duckduckgo.app.global.DuckDuckGoApplication"
        android:allowBackup="false"
        android:icon="${appIcon}"
        android:label="@string/appName"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="${appIconRound}"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuckDuckGo.Light"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <!-- Disable WorkManager's default initialization so we can use Dagger with it -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!--
            To protect user privacy, disable SafeBrowsing which could send URLs to Google servers
            https://developer.android.com/reference/android/webkit/WebView
        -->
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />

        <!-- Renamed to allow for the introduction of custom icons without breaking existing shortcuts -->
        <activity
            android:name="com.duckduckgo.app.launch.LaunchBridgeActivity"
            android:exported="true"
            android:icon="${appIcon}"
            android:label="@string/appName"
            android:roundIcon="${appIconRound}"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.DuckDuckGo.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="com.duckduckgo.app.launch.Launcher"
            android:enabled="true"
            android:exported="true"
            android:icon="${appIcon}"
            android:roundIcon="${appIconRound}"
            android:targetActivity="com.duckduckgo.app.launch.LaunchBridgeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.duckduckgo.app.launch.LauncherBlue"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_blue"
            android:roundIcon="@mipmap/ic_launcher_blue_round"
            android:targetActivity="com.duckduckgo.app.launch.LaunchBridgeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.duckduckgo.app.launch.LauncherBlack"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_black"
            android:roundIcon="@mipmap/ic_launcher_black_round"
            android:targetActivity="com.duckduckgo.app.launch.LaunchBridgeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.duckduckgo.app.launch.LauncherGold"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_gold"
            android:roundIcon="@mipmap/ic_launcher_gold_round"
            android:targetActivity="com.duckduckgo.app.launch.LaunchBridgeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.duckduckgo.app.launch.LauncherGreen"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_green"
            android:roundIcon="@mipmap/ic_launcher_green_round"
            android:targetActivity="com.duckduckgo.app.launch.LaunchBridgeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.duckduckgo.app.launch.LauncherPurple"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_purple"
            android:roundIcon="@mipmap/ic_launcher_purple_round"
            android:targetActivity="com.duckduckgo.app.launch.LaunchBridgeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.duckduckgo.app.launch.LauncherSilhoutte"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_silhouette"
            android:label="@string/appName"
            android:roundIcon="@mipmap/ic_launcher_silhouette_round"
            android:targetActivity="com.duckduckgo.app.launch.LaunchBridgeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.duckduckgo.app.onboarding.ui.OnboardingActivity"
            android:exported="false"
            android:label="@string/appName"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.DuckDuckGo.Light" />

        <activity
            android:name=".BrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/appDescription"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="com.duckduckgo.app.tabs.ui.TabSwitcherActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/tabActivityTitle" />
        <activity
            android:name="com.duckduckgo.app.settings.SettingsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/settingsActivityTitle"
            android:parentActivityName=".BrowserActivity">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.duckduckgo.app.feedback.ui.common.FeedbackActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/feedbackActivityTitle"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.duckduckgo.app.brokensite.BrokenSiteActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/brokenSiteHeading"
            android:parentActivityName=".BrowserActivity" />
        <activity
            android:name="com.duckduckgo.app.survey.ui.SurveyActivity"
            android:excludeFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/surveyActivityTitle"
            android:parentActivityName=".BrowserActivity"
            android:theme="@style/Theme.DuckDuckGo.Survey" />
        <activity
            android:name="com.duckduckgo.app.widget.ui.AddWidgetInstructionsActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/addWidgetInstructionsActivityTitle"
            android:theme="@style/Theme.DuckDuckGo.Survey" />
        <activity
            android:name="com.duckduckgo.app.about.AboutDuckDuckGoActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/aboutActivityTitle"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity" />
        <activity
            android:name="com.duckduckgo.app.bookmarks.ui.BookmarksActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/bookmarksActivityTitle"
            android:parentActivityName=".BrowserActivity" />
        <activity
            android:name="com.duckduckgo.app.fire.fireproofwebsite.ui.FireproofWebsitesActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/fireproofWebsitesActivityTitle"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity" />
        <activity
            android:name="com.duckduckgo.app.sitepermissions.SitePermissionsActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/settingsSitePermissions"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity" />
        <activity
            android:name="com.duckduckgo.app.sitepermissions.permissionsperwebsite.PermissionsPerWebsiteActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:parentActivityName="com.duckduckgo.app.sitepermissions.SitePermissionsActivity" />
        <activity
            android:name="com.duckduckgo.app.fire.FireActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.DuckDuckGo.Dark"
            android:process="@string/fireProcessName" />
        <activity
            android:name="com.duckduckgo.app.icon.ui.ChangeIconActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/changeIconActivityTitle"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity" />
        <activity
            android:name="com.duckduckgo.app.privacy.ui.WhitelistActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/whitelistActivityTitle"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity" />
        <activity
            android:name="com.duckduckgo.app.globalprivacycontrol.ui.GlobalPrivacyControlActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/globalPrivacyControlActivityTitle"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity" />
        <activity
            android:name="com.duckduckgo.app.accessibility.AccessibilityActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/accessibilityActivityTitle"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity" />
        <activity
            android:name="com.duckduckgo.app.email.ui.EmailProtectionUnsupportedActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/emailProtectionActivityTitle"
            android:screenOrientation="portrait"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.duckduckgo.app.settings.FireAnimationActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name="com.duckduckgo.app.browser.webview.WebViewActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity" />
        <activity
            android:name="com.duckduckgo.app.WidgetThemeConfiguration"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/widgetConfigurationActivityTitle"
            android:theme="@style/Theme.DuckDuckGo.Light">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.duckduckgo.app.bookmarks.ui.bookmarkfolders.BookmarkFoldersActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/folderLocationTitle"
            android:parentActivityName="com.duckduckgo.app.bookmarks.ui.BookmarksActivity" />

        <activity
            android:name="com.duckduckgo.voice.impl.listeningmode.VoiceSearchActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/voiceSearchTitle"
            android:parentActivityName=".BrowserActivity" />

        <activity
            android:name="com.duckduckgo.app.downloads.DownloadsActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/downloadsActivityTitle"
            android:parentActivityName=".BrowserActivity" />

        <service
            android:name="com.duckduckgo.app.job.AppConfigurationJobService"
            android:excludeFromRecents="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.duckduckgo.widget.FavoritesWidgetService"
            android:excludeFromRecents="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name="com.duckduckgo.widget.EmptyFavoritesWidgetService"
            android:excludeFromRecents="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service android:name="com.duckduckgo.app.notification.NotificationHandlerService" />

        <receiver android:name=".shortcut.ShortcutReceiver" android:exported="false" />

        <receiver
            android:name="com.duckduckgo.widget.SearchWidget"
            android:exported="false"
            android:label="@string/searchWidgetLabel">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/search_widget_info" />
        </receiver>

        <receiver
            android:name="com.duckduckgo.widget.SearchWidgetLight"
            android:exported="false"
            android:label="@string/searchWidgetLabel">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/search_widget_info_light" />
        </receiver>

        <receiver
            android:name="com.duckduckgo.widget.SearchAndFavoritesWidget"
            android:exported="false"
            android:label="@string/favoritesWidgetLabel">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/search_favorites_widget_info" />
        </receiver>

        <receiver
            android:name="com.duckduckgo.widget.VoiceSearchWidgetUpdater"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.duckduckgo.app.launch.ScreenActionReceiver"
            android:exported="true">
            <intent-filter android:priority="90000">
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- <action android:name="android.intent.action.SCREEN_OFF" /> -->
                <!-- <action android:name="android.intent.action.SCREEN_ON" /> -->
            </intent-filter>
        </receiver>
    </application>

</manifest>
